platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen
platforms/android/bin
platforms/android/gen
platforms/android/assets/www/*
platforms/android/res/xml/config.xml
platforms/android/.gradle
platforms/android/.idea
platforms/android/CordovaLib/build
platforms/android/gradle/.gradle
platforms/android/out/
*.classpath
*.project
*.settings
*.log
vendor
node_modules
Gemfile.lock
bin
.bundle
.idea/*
*.iml
www/css
.sass-cache
.gradle/*
gradle/*
gradlew
gradlew.bat

platforms/android/build
platforms/android/local.properties
